<p>actualiza-component works!</p>

<form class="form-group row">
  
   
    <div class="form-group col-md-3">
  
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombre" class="form-control">
  
    </div>
    
    <div class="form-group col-md-3">
      
      <label for="apellido">Apellido:</label>    
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellido" class="form-control">
    
    </div>
    
    <div class="form-group col-md-3">
  
      <label for="cargo">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" [(ngModel)]="cargo" class="form-control">
  
    </div>
  
    <div class="form-group col-md-3">
  
      <label for="salario">Salario:</label>
      <input type="number" name="salario" id="salario" placeholder="Salario" [(ngModel)]="salario" class="form-control">
  
    </div>
      
  
      <input type="submit" value="Ejecutar" (click)="ejecutarOperacion()">
      
      <!--<input type="submit" value="Eliminar" style="margin-left: 10px;" (click)="eliminarEmpleado()">-->
  
    
  <div class="col">
    
  </div>
  
  
  </form>